@model YaziBasicV2.Models.AdminDisplayModel
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/app.css">
    <link rel="stylesheet" href="~/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />


    <title>Hello, world!</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">IWISHU.IN | ADMIN</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample07">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index","AdminFact")">Dashboard </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("AddPost","AdminFact")">Add Post</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("ViewPost","AdminFact")">View Post</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="@Url.Action("Category","AdminFact")">Category</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="content-heading bg-white">
        <div class="row">
            <div class="col-sm-9">
                <h4 class="m0 text-thin">Welcome to iwishu.in dashboard</h4><small>Create, update, Delete post and Categories</small>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <h5 class="mt0">Categories</h5>
        <div class="row">
            <div class="col-lg-6">
                <div class="cardbox cardbox-default">
                    <div class="cardbox-body">
                        @*<form id="create-category" enctype="multipart/form-data" action="/admin/category" method="post">*@
                        <form enctype="multipart/form-data" method="post">
                            <div class="form-group">
                                <label for="category">Category</label>
                                <input type="text" name="Name" class="form-control" id="category-name" placeholder="Category Name">
                            </div>

                            <div class="form-group">
                                <label for="description">Description</label>
                                <textarea class="form-control" name="Description" id="description" rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="category">Image Url</label>
                                <input type="text" name="ImagePath" class="form-control" id="img-url" placeholder="Image Url">
                            </div>
                            <input type="hidden" value="" id="category-id" name="CategoryId" />

                            <div class="">
                                <div class="clearfix">
                                    <div class="float-right mt-sm">
                                        <button class="btn btn-primary btn-flat" formaction="/admin/facts/category" type="submit">ADD</button>
                                        <button class="btn btn-primary btn-flat" formaction="/admin/facts/updatecategory" type="submit">UPDATE</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="cardbox cardbox-default">
                    <div class="cardbox-body">
                        <table id="viewCategory" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Category</th>
                                    <th>Description</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>ID</th>
                                    <th>Category</th>
                                    <th>Description</th>
                                    <th>Actions</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                @{
                                    int counter = 0;
                                }
                                @foreach (var item in Model.Categories)
                                {
                                    <tr>
                                        <td class="index">@(++counter)</td>
                                        <td class="category-name">@item.Name</td>
                                        <td class="category-description">@item.Description</td>
                                        <td><span><a class="edit-category" data-category-id="@item.CategoryId" href="#">Edit</a></span> | <span>@Html.ActionLink("Delete", "DeleteCategory", "AdminFact", new { id = item.CategoryId })</span></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script src="~/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
          // $('#viewCategory').DataTable();

          $('.edit-category').click(function () {
              debugger;
              var categoryId = $(this).attr("data-category-id");

              fetchSingle('' + categoryId);
              function fetchSingle(url) {
                  console.log('Making fetch() request to: ' + url);
                  fetch(url)
                      .then(readPromise)
                      .then(setValue)
                      .catch(catchError);
              }

              function readPromise(response) {
                  return response.json();
              }

              function setValue(json) {
                  $("#category-name").val(json.name);
                  $("#description").val(json.description);
                  $("#img-url").val(json.imagePath);
                  $("#category-id").val(json.categoryId);
              }

              function catchError(resonse) {
                  debugger;
                  console.log("catchError: " + resonse);
              }

          });

      } );
    </script>
</body>
</html>